{% extends 'base.html.twig' %}
  {% block body %}
              <!-- Featured Post -->
              <article class="post featured">
                  <header class="major">
                      <span class="date">May 3, 2019</span>
                      <h2><a href="suryaNamaskara.php">Surya Namaskara<br/>
                              on to Ibiza water </a></h2>
                      <p>Surya Namaskara Sun Salutations build heat in the body <br/>
                          and are often used as warm-up sequences for a yoga practice<br/>
                          Health in Ibiza</p>
                  </header>
                  <a href="suryaNamaskara.php" class="image main"><img src="{{ asset('images/pic01.jpg') }}" alt="Down dog o Surya Namaskar on a paddle surf board"/></a>
                  <ul class="actions special">
                      <li><a href="suryaNamaskara.php" class="button large">Full Story</a></li>
                  </ul>
              </article>

              <!-- Posts -->
              <section class="posts">
                  <article>
                      <header>
                          <span class="date">April 29, 2019</span>
                          <h2><a href="ego.php">How to Carry your SUP<br/>
                                  With Style in Ibiza waters</a></h2>
                      </header>
                      <a href="ego.php" class="image fit"><img src="{{ asset('images/pic04.jpg') }}" alt="Pashchima Namaskarasana or Reverse Prayer Pose"/></a>
                      <p>Do not miss this opportunity to make yourself a selfie doing a Yoga posture in Ibiza. Everybody would
                          like to be like you. Work hard on your ego practicing yoga. Continue reading...</p>
                      <ul class="actions special">
                          <li><a href="ego.php" class="button">Full Story</a></li>
                      </ul>
                  </article>
                  <article>
                      <header>
                          <span class="date">April 25, 2019</span>
                          <h2><a href="waterElement.php">Are you connected <br/>
                                  to your water element?</a></h2>
                      </header>
                      <a href="waterElement.php" class="image fit"><img src={{ asset('images/pic03.jpg') }} alt="Dhanurasana backbend asana on the paddle board in Ibiza"/></a>
                      <p> The water element is associated with the Second Chakra, which is housed in the pelvis and hip
                          region. This element honor our intuition, and follow our passions. In the paddle surf yoga classes we work energetically with this dynamic and emotional element. Continue reading ...</p>
                      <ul class="actions special">
                          <li><a href="waterElement.php" class="button">Full Story</a></li>
                      </ul>
                  </article>
                  <article>
                      <header>
                          <span class="date">April 22, 2019</span>
                          <h2><a href="yogaIbiza.php">Yoga in Ibiza<br/>
                                  SUP yoga</a></h2>
                      </header>
                      <a href="yogaIbiza.php" class="image fit"><img src={{ asset('images/pic02.jpg') }} alt="headstand, Salamba Sirsasana on the paddle surf board"/></a>
                      <p>When the Shala * is the sea. Practice yoga in a paradise island like Ibiza
                      </p>
                      <ul class="actions special">
                          <li><a href="yogaIbiza.php" class="button">Full Story</a></li>
                      </ul>
                  </article>

                  <article>
                      <header>
                          <span class="date">April 14, 2017</span>
                          <h2><a href="yogakids.php">SUP YOGA FOR KIDS<br/>
                              </a></h2>
                      </header>
                      <a href="yogakids.php" class="image fit"><img src={{ asset('images/pic05.jpg') }} alt="SUP yoga with kids, everyone can do paddle surf yoga"/></a>
                      <p>
                          From Surf Yoga Ibiza we have practiced yoga in the paddle with kids. Parents look for activities for
                          their children that, in addition to having fun, have positive benefits for their physical and mental
                          development and for their health. Yoga for kids can be a good option to combine play with
                          relaxation, concentration and balance. Children love it!</p>
                      <ul class="actions special">
                          <li><a href="yogakids.php" class="button">Full Story</a></li>
                      </ul>
                  </article>
              </section>


  {% endblock %}